@import "tailwindcss";
html, body, #root {
  height: 100%;
  margin: 0;
  
}

/* Apply to whole page */
::-webkit-scrollbar {
  width: 8px;              /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);   /* track background */
}

::-webkit-scrollbar-thumb {
  background-color: #8fff00;       /* scrollbar thumb color */
  border-radius: 8px;              /* rounded thumb */
  border: 2px solid transparent;  /* optional border */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6fdc00;       /* hover color */
}
  .instagram-icon:hover{
    background: linear-gradient(45deg, #FFDC80, #FCAF45, #F77737, #F56040, 
                                #FD1D1D, #E1306C, #C13584, #833AB4, #5B51D8, #405DE6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;  
    filter: drop-shadow(0 0 6px #333333);
  }
  .github-icon:hover {
  filter: drop-shadow(0 0 6px #aaaaaa);
}

.normal-font {
  font-family: sans-serif;
}